*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.6rem;
    color: teal;
}

.nav-arriba{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    
}
ul{
    list-style: none;
    padding-top: 2rem;
}
li{
    display: inline;
    margin-left: 1.5rem;
}
a{
    text-decoration: none;
    color: black;
}
.seccion-portada{
    background: url('http://c.files.bbci.co.uk/4D2F/production/_110795791_gettyimages-918572576.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.contenido-portada{
    font-size: 2.6rem;
    color:white;
}

.titulos{
    text-transform: uppercase;
    color: #212529;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 30px 0;
    
}
.linea-titulo{
    margin:auto;
    width: 130px;
}
.contenido-texto{
    font-size: 1rem;
    flex-basis: 50%;
    text-align: justify;
    padding: 0 15px 0 15%;
}

.contenido-seccion2{
    display: flex;
    justify-content: space-between;
}
.contenedor-barra{
    flex-basis: 50%;
    padding-left: 15px;
}
.barras{
    height: 30px;
    border: none;
    width: 300px;
}
.dosbarras{
    display: flex;
}
.php1{
    background-color: aqua;
    width: 200px;
}
.php2{
    background-color: lightslategray;
    width: 150px;
}
.js1{
    background-color: aqua;
    width: 225px;
}
.js2{
    background-color: lightslategray;
    width: 100px; 
}
.Html-Coding1{
    background-color: aqua;
    width: 250px;
}
.Html-Coding2{
    background-color: lightslategray;
    width: 50px; 
}
.SEO1{
    background-color: aqua;
    width: 275px;
}
.SEO2{
    background-color: lightslategray;
    width: 25px; 
}
.SEM1{
    background-color: aqua;
    width: 237px;
}
.SEM2{
    background-color: lightslategray;
    width: 63px; 
}
.imagen-seccion2{
    display: flex;
    justify-content: center;
}
.foto-perfil{
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
}
.seccion-servicios{
    background-color: #4fbfa8;
    color: white;
}
.servicio-h2{
    color: white;
}
.iconos{
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.iconos-servicios{
    line-height: 2; 
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Consulting, 
.HTLM,
.PHP{
    flex-basis: 60%;
    padding: 1.6rem; 
}
.titulos-servicios{
   text-align: center;
}
.Contenido-servicios{
    display: flex;
    justify-content: space-around;
    /* padding: 0 15px 0 20%; */
    align-items: center;

}
.linea{
    border-color: white;
    margin: auto;
    width: 900px;
}
.contacto-servicio,
.parrafo{
    text-align: center
}
.boton-servicio{
    background-color: #4fbfa8;
    color:white;
    font-size: 1rem;
    padding: 9px 16px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
.seccion-testimonios{
    background-color: antiquewhite;
}
.contenido-textimonio{
    margin: 0 10%;
}
.contenido-tarjetas{
    display: flex;
   justify-content: space-between;
}

.testimonio{
    flex-basis: 30%;
    background-color: white;
    padding: 20px;
    border-color: gray;
    border-width: 1px;
    border-style: solid; 
    height: 500px;
    margin-right:2.5%;
}
.texto-testimonio{
    text-align: justify;
    flex-basis: 60%;
    padding: 1.6rem; 
    height: 350px;

}
.perfil-testimonio{
    float: right;
    text-align: right;
    align-items: center;
}

.foto-testimonio{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}
.seccion-estadistica{
    background: url('https://cdn.bhdw.net/im/laptop-on-the-table-papel-pintado-79534_w635.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 150px;
}
.contenido-estadistica{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5rem;
    color:white;

}
.contenido-myWork{
    text-align: center;
}
.menu-myWork{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.row-imagenes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.imagenes{
    width: 200px;
}
.referencia{
    padding: 1.6rem;
    margin-bottom: 30px;
}
.seccion-iconos{
    background-color: #e9ecef;
}
.iconos-random{
    display: flex;
    justify-content: space-around;
    padding: 60px;
}
.alinear-formulario{
    margin: 0 30%;
}
.contenedor-campos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 100px;
    column-gap: 1rem;
}
.campos:nth-child(5) {
  grid-column: 1 / 3;
}
.input-text {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    padding: 6px 12px 6px 15px;
    font-size: 14px;
}
.textarea {
    height: 200px;
    max-height: 220px;
    line-height: 40px;
}
.contenedor-boton{
    align-items: center;
    display: flex;
    justify-content: center;
}
.boton-contact{
    background-color:  #4fbfa8;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
}

.direccion-mapa iframe{
    height:300px;
    width:100%;
    
}
.seccion-footer{
   background-color: black;
   color: white;
   height: 200px;
}
.contenido-iconos-footer{
    display: flex;
    
}
.alinear{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.iconos-footer{
    text-align: left;
}
.text-footer{
    text-align: center;
    padding: 30px;
}








    
