* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.menu {
  background-color: #a43f49;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 285px;
}

.icono-menu .icono-menu-icon {
  font-size: 30px;
  left: 350px;
  padding: 5px;
  position: absolute;
}

.icono-menu .icono-menu-icon:hover {
  color: #a43f49;
  cursor: pointer;
}

/* Elementos con propiedades iguales*/
.contenido-imagen,
.nombre-profesion,
.enlace-lista-menu,
.contenedor-botones,
.contenedor-copyright,
.menu-seccion-my-work,
.contenidos-my-work .tarjeta-contenido-my-work,
.contenidos-my-work .tarjeta-contenido-my-work .informacion-tarjeta-my-work,
.contenedor-icono-my-work,
.contenedor-boton-contact-me {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contenido-imagen {
  margin-top: 50px;
}

.contenido-imagen .imagen {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.nombre-profesion {
  flex-direction: column;
  margin: 30px 0;
}

.nombre {
  font-size: 26px;
}

.profesion {
  font-size: 13px;
  font-weight: bolder;
}

.elementos-lista-menu {
  border: 1px solid #ffffff;
  border-left: 0;
  border-right: 0;
  list-style-type: none;
  position: relative;
}

.enlace-lista-menu {
  background-color: #a43f49;
  padding: 20px 0;
  text-decoration: none;
  width: 284px;
}

.enlace-lista-menu:hover {
  background-color: #ffffff;
  color: #a43f49;
}

.contenedor-botones,
.contenedor-copyright {
  margin: 40px 0;
}

.botones {
  background-color: #00000033;
  border: none;
  height: 35px;
  margin-right: 5px;
  width: 38px;
}

.botones:hover {
  background-color: #ffffff33;
  cursor: pointer;
}

.iconos {
  font-size: 20px;
}

.linea {
  background-color: #ffffff33;
  border: none;
  height: 2px;
  margin-bottom: 30px;
}

.parrafo-copyright {
  font-size: 13px;
}

.contenedor-pagina {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(img/fondoContenedorPagina.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 285px;
  min-height: 100vh;
  transition: transform 0.3s;
}

.contenedor-about-me,
.contenedor-what-im-good-at,
.contenedor-my-work,
.contenedor-contact-me {
  margin: 0 10%;
}

.titulo-parrafo-about-me,
.titulo-parrafo-what-im-good-at,
.titulo-parrafo-my-work,
.titulo-parrafo-contact-me {
  padding: 80px 45px;
  text-align: center;
}

.titulo-about-me,
.titulo-what-im-good-at,
.titulo-my-work,
.titulo-contact-me {
  font-size: 30px;
}

.linea-titulo {
  background-color: #a43f49;
  border: none;
  height: 3px;
  margin: 10px auto;
  width: 60px;
}

.parrafo-about-me,
.parrafo-what-im-good-at,
.parrafo-my-work,
.parrafo-contact-me {
  line-height: 24px;
}

.contenidos-about-me {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.imagen-about-me {
  border-radius: 10px;
  height: 280px;
  width: 430px;
}

.tarjeta-contenido-about-me {
  flex-basis: 50%;
}

.titulo-tarjeta-about-me {
  font-size: 26px;
  padding-bottom: 28px;
}

.parrafo-tarjeta-about-me {
  line-height: 24px;
  padding-bottom: 30px;
}

.boton-read-more {
  border: none;
  color: #a43f49;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.boton-read-more:hover {
  background-color: #a43f49;
  color: #ffffff;
}

.linea {
  margin: 60px 0;
}

.contenidos-what-im-good-at {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: -5px;
  margin-right: -5px;
}

.tarjeta-contenido-what-im-good-at {
  background-color: #fafafa1a;
  height: 330px;
  margin-bottom: 10px;
  padding: 50px;
  width: 450px;
}

.tarjeta-contenido-what-im-good-at:hover {
  background-color: #ffffff;
}

.tarjeta-contenido-what-im-good-at:hover .iconos-what-im-good-at {
  border: 2px solid #a43f49;
  color: #a43f49;
}

.tarjeta-contenido-what-im-good-at:hover .titulo-tarjeta-what-im-good-at,
.tarjeta-contenido-what-im-good-at:hover .parrafo-tarjeta--what-im-good-at {
  color: #000000;
}

.iconos-what-im-good-at {
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 65px;
  height: 70px;
  margin-bottom: 30px;
  width: 70px;
}

.titulo-tarjeta-what-im-good-at {
  font-size: 26px;
  padding-bottom: 8px;
}

.parrafo-tarjeta--what-im-good-at {
  line-height: 24px;
  padding-bottom: 16px;
}

.menu-seccion-my-work {
  margin: 10px;
}

.lista-menu-seccion-my-work {
  display: flex;
  justify-content: space-between;
}

.elementos-lista-seccion-my-work {
  list-style-type: none;
  margin-right: 15px;
}

.enlace-lista-seccion-my-work {
  padding-bottom: 3px;
  text-decoration: none;
}

.contenidos-my-work {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: -10px;
  margin-right: -10px;
}

.contenidos-my-work .tarjeta-contenido-my-work {
  border-bottom: 2px solid #fafafa1a;
  margin: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}

.contenidos-my-work .tarjeta-contenido-my-work .imagen-secion-my-work {
  border-radius: 10px;
  cursor: pointer;
  height: 300px;
  width: 445px;
}

.contenidos-my-work .tarjeta-contenido-my-work .informacion-tarjeta-my-work {
  background-color: #ffffffe7;
  border-radius: 10px;
  flex-direction: column;
  height: 240px;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 385px;
}

.contenidos-my-work
  .tarjeta-contenido-my-work:hover
  .informacion-tarjeta-my-work {
  cursor: pointer;
  opacity: 1;
}

.contenedor-icono-my-work {
  background-color: #a43f49;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}

.icono-seccion-my-work {
  font-size: 18px;
  font-weight: bolder;
}

.titulo-tarjeta-my-work {
  color: #000000;
  font-size: 26px;
  margin: 15px 0 5px 0;
}

.parrafo-tarjeta-my-work {
  color: #000000;
  font-size: 14px;
}

.seccion-contact-me {
  height: 700px;
}

.contenedor-campos-contact-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 210px;
  column-gap: 1rem;
}

.campos-contact-me:nth-child(3),
.campos-contact-me:nth-child(4) {
  grid-column: 1 / 3;
}

.input-text {
  background-color: #fafafa1a;
  border: 1px solid #fafafa;
  font-size: 14px;
  height: 40px;
  margin-bottom: 30px;
  padding: 6px 12px 6px 15px;
  width: 100%;
}

.textarea {
  height: 180px;
  line-height: 40px;
  max-height: 220px;
}

.boton-contact-me {
  background-color: #ffffff;
  border: none;
  color: #a43f49;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
}

.boton-contact-me:hover {
  background-color: #a43f49;
  color: #ffffff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .menu {
    height: 110vh;
    transform: translateX(-350px);
    z-index: 1;
  }

  .contenedor-pagina {
    margin-left: 0px;
  }

  .contenido-imagen .imagen {
    height: 125px;
    width: 125px;
  }

  .contenedor-what-im-good-at,
  .contenedor-my-work,
  .contenedor-contact-me {
    margin: 0 5%;
  }

  .contenidos-about-me {
    flex-direction: column;
  }

  .imagen-about-me {
    height: 220px;
    margin-bottom: 30px;
    width: 330px;
  }

  .btn-read-more {
    margin-bottom: 50px;
  }

  .contenidos-what-im-good-at,
  .contenidos-my-work {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .tarjeta-contenido-what-im-good-at {
    width: 345px;
  }

  .contenidos-my-work .tarjeta-contenido-my-work .imagen-secion-my-work {
    width: 330px;
  }

  .contenidos-my-work .tarjeta-contenido-my-work .informacion-tarjeta-my-work {
    width: 260px;
  }

  .seccion-contact-me {
    height: 850px;
  }

  .contenedor-campos-contact-me {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .icono-menu .icono-menu-icon {
    display: none;
  }
}

.menu--show {
  transform: translateX(0px);
}

.menu--show .icono-menu .icono-menu-icon {
  color: #000000;
  left: 1px;
  top: 0;
}

.menu--show .icono-menu .icono-menu-icon:hover {
  color: #ffffff;
}
